// START Buttons

@import '../material/mixins'

button
.button
  mButton($textColor1, $buttonColorNormal)

  &.important.important.important
    background-color: $buttonColorImportant

// END Buttons
