block vars
  - pageId = 'index'
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='msapplication-tap-highlight' content='no')

    include ./head.pug

    title
      block title
        | #{site.title}

    block style

    block headscript
    <!--[if lt IE 10]>
    script(src='/js/polyfill/html5-shiv.js')
    <![endif]-->

  body(id=pageId)
    //(style='overflow:hidden')
    // Header

    input#show-mobile-menu(type='checkbox')

    block preheader
    block header
      - {
      -   let item = data.header
          header
            block headercontentbefore
            include ./header.pug
            block headercontentafter
      - }

    main
      block content
        - for(var i in data.main) {
          - let item = data.main[i]
          if i == 0
            include ./hero.pug
        - }

    block footer
      - {
      -   let item = data.footer || data.header
          footer
            block footercontentbefore
            include ./footer.pug
            block footercontentafter
      - }

    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    block script
      script(src='/js/app.js')

    block analytics
