if legal && legal.cookies
  .content(class='{ unaccepted: !accepted() }')
    .cookies-content
      .cookies-message
        .cookies-title=legal.cookies.title
        .cookies-description
          | !{legal.cookies.description}
      button.cookies-button(onclick='{ accept }')=legal.cookies.button
