// START Card

.card
  margin: 2 * $spacing 0
  width: 100%
  padding: 3 * $spacing
  box-shadow: 1px 2px 1px 0.5px $shadowColor1
  border-radius: 2px

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

// END Card
