// START Card

.card
  mShadowed(1.5, $mDropShadowCardColor)

  margin: 2 * $spacing 0
  width: 100%
  padding: 3 * $spacing
  border-radius: 2px

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

// END Card
