@require '../material/mixins'

privacy-popup
  .cookies-content
    display: block
    position: fixed
    width: 100vw
    bottom: -100px
    display: flex
    opacity: 0
    transition: all ($transitionTime * .5) ease-in-out
    padding: $spacing * 2 $spacing * 4
    align-items: center
    background-color: $backgroundColor1

    .cookies-message
      margin-right: $spacing * 4

      .cookies-title
        margin-bottom: $spacing * 2

      .cookies-description
        font-weight: 100

    &.unaccepted
      bottom: 0px
      opacity: 1


