.flex1.flex1.flex1
  flex: 1

.flex2.flex2.flex2
  flex: 2

.flex3.flex3.flex3
  flex: 3

.flex4.flex4.flex4
  flex: 4

.flex5.flex5.flex5
  flex: 5

.flex6.flex6.flex6
  flex: 6

.flex-center
  justify-content: center
  align-items: center

.justify-flex-start.justify-flex-start.justify-flex-start
  justify-content: flex-start

.flex-align-middle.flex-align-middle.flex-align-middle
.justify-flex-center.justify-flex-center.justify-flex-center
  justify-content: center

.justify-flex-end.justify-flex-end.justify-flex-end
  justify-content: flex-end

.align-flex-start.align-flex-start.align-flex-start
  align-items: flex-start

.flex-align-center.flex-align-center.flex-align-center
.align-flex-center.align-flex-center.align-flex-center
  align-items: center

.align-flex-end.align-flex-end.align-flex-end
  align-items: flex-end


