.flex-rows
.rows
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  &.flex-wrap
  &.wrap
    flex-wrap: wrap

    & > *
      flex: initial

  &.flex-initial
    & > *
      flex: initial

  & > *
    flex: 1
