@keyframes from-left
  0% {
    transform: translateX(-40%)
  }
  100% {
    transform: translateX(0%)
  }

@keyframes from-right
  0% {
    transform: translateX(40%)
  }
  100% {
    transform: translateX(0%)
  }

