// Default Settings

// Accent Colors

// $accentColor1 =

// Text Colors

$textColor1 = $white   // Main Light Font Color
$textColor2 = $grey900 // Main Dark Font Color

$textColorLight = $textColor1
$textColorDark = $textColor2

// Button Colors

$buttonColor1 = $bluegrey900
$buttonColor2 = $blue500

$buttonColorNormal = $buttonColor1
$buttonColorImportant = $buttonColor2

// Drop Shadow Color

$shadowColor1 = rgba(0,0,0, .2)
$shadowColor2 = rgba(0,0,0, .15)
$shadowColor3 = rgba(0,0,0, .8)

// Background Colors

$backgroundColor1 = $grey50

$menuBackgroundColor1 = $backgroundColor1
$menuBackgroundColor2 = $grey800

// Dimensions

$pageWidth = 1000px
$headerHeight = 50px
$footerSmallPrintHeight = 50px

$spacing = .5rem
$sectionMinHeight= 600px

$headerDockedMargin = 10px

$mobileMenuWidth = 360px

// Breakpoints

$tabletWidth = 800px
$phoneWidth = 650px

// Timing

$transitionTime = 400ms

// Effects

$hoverOpacity = .6

