// Default Settings

// Accent Colors

// $accentColor1 =

// Text Colors

$textColor1 = #FFFFFF // Main Light Font Color
$textColor2 = #333333 // Main Dark Font Color

$textColorLight = $textColor1
$textColorDark = $textColor2

// Button Colors

$buttonColor1 = #31393C
$buttonColor2 = #3A76FF

$buttonColorNormal = $buttonColor1
$buttonColorImportant = $buttonColor2

// Drop Shadow Color

$shadowColor1 = rgba(0,0,0, .2)
$shadowColor2 = rgba(0,0,0, .15)
$shadowColor3 = rgba(0,0,0, .8)

// Background Colors

$backgroundColor1 = #FAFAFA

$menuBackgroundColor1 = $backgroundColor1
$menuBackgroundColor2 = #333

// Dimensions

$pageWidth = 1000px
$headerHeight = 50px
$footerSmallPrintHeight = 50px

$spacing = 8px
$sectionMinHeight= 600px

$headerDockedMargin = 10px

$mobileMenuWidth = 360px

// Breakpoints

$tabletWidth = 800px
$phoneWidth = 650px

// Timing

$transitionTime = 400ms

// Effects

$hoverOpacity = .6

