// START Footer

footer
  background-color: $backgroundColor1
  display: table
  width: 100%
  padding-top: 2 * $spacing

  .footer-small-print
    height: $footerSmallPrintHeight
    margin-top: 2 * $spacing
    position: relative

    & > *
      display: inline-block

    .logos
      height: 100%

      *
        vertical-align: middle

      .logo-link
        color: $textColor1
        text-decoration: none

      .logo-image
        height: 100%
        padding $spacing

    .copyright
      float: right
      line-height: $footerSmallPrintHeight
      padding-right $spacing
      color: $textColor1

// END Footer

