header
footer
main > *
  width: 100vw
  +above($pageWidth + 1)
    padding-left: 'calc((100% - %s) / 2)' % $pageWidth
    padding-right: 'calc((100% - %s) / 2)' % $pageWidth
  +below($pageWidth)
    padding-left $spacing * 4
    padding-right $spacing * 4

main > *
  position: relative
  display: block

main
  display: table
  width: 100vw
  overflow: hidden

[tabindex]
  outline: none

// .two-columns
//   & > *
//     column 1/2 2 0
//     top: 50%
//     transform: translateY(-50%)

// Should Overwrite Others if available
.flex-columns
.columns
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  &.flex-wrap
  &.wrap
    flex-wrap: wrap

    & > *
      flex: initial

  & > *
    flex: 1

  +below($phoneWidth)
    flex-direction: column

.flex-rows
.rows
  display: flex
  flex-direction: columns
  justify-content: flex-start
  align-items: center

  &.flex-wrap
  &.wrap
    flex-wrap: wrap

    & > *
      flex: initial

  & > *
    flex: 1
