.hero
  height: 105vh
  min-height: $sectionMinHeight

  +below($tabletWidth)
    height: auto

  +below($phoneWidth)
    padding-top: 10vh
    padding-bottom: 10vh

    > *
      padding: 10vh 0

.full
  min-height: $sectionMinHeight
