// START Header Navigation Menus

header

  // START Simple Menus
  .simple-menus
    a
      text-decoration: none
      color: $textColor1

    // .menu contains all menu content and functions based on hover
    .menu
      cursor: default
      position: relative
      text-align: left

      // .menu-content is the part of the menu that expands and stuff
      .menu-body
        opacity: 0
        position: absolute
        left: 50%
        top: 100%
        pointer-events: none
        transition: all ($transitionTime * .5) ease-in-out

        color: $textColor2

        transform: translateX(-50%)
        width: 360px
        max-width: 100vw
        z-index: 1000

        &:before
          content: ''
          width:  2 * $spacing
          height: 2 * $spacing
          position: absolute
          bottom: 100%
          background-color: $backgroundColor1
          left: 50%
          transform: translate(-50%, 50%) rotate(45deg)

        .menu-content
          padding: $spacing 2 * $spacing
          transform-origin: top center
          transform: scale(.9)
          background-color: $backgroundColor1
          transition: all $transitionTime ease-in-out
          box-shadow: 2px 4px 2px .5px $shadowColor2
          max-height: 'calc(100vh - %s - %s)' % ($headerHeight (2 * $spacing))
          overflow: auto

      &:hover .menu-body
      &:focus .menu-body
      .menu-body:hover
        opacity: 1
        pointer-events: auto

        .menu-content
          transform: none
  // END Simple Menus

  // START Complex Menus
  .complex-menus
    a
      text-decoration: none
      color: $textColor1

    .menu
      cursor: default
      position: relative
      text-align: left

    .menu-wrapper
      position: absolute
      background-color: $backgroundColor1
      transition: all ($transitionTime) ease-in-out
      box-shadow: 2px 4px 2px .5px $shadowColor2
      pointer-events: none
      transform-origin: top center
      margin-top: 2 * $spacing
      opacity: 0
      z-index: 1000

      &.active
        pointer-events: auto
        transition: all ($transitionTime * .75) ease-in-out, opacity $transitionTime ease-in-out
        margin-top: 0
        opacity: 1

      &:before
        content: ''
        width:  2 * $spacing
        height: 2 * $spacing
        position: absolute
        bottom: 100%
        background-color: $backgroundColor1
        left: 50%
        transform: translate(-50%, 50%) rotate(45deg)

      .menu-bodies
        vertical-align: top
        position: absolute
        left: 0
        height: 100%
        width: 100%
        pointer-events: none

        .menu-body
          color: $textColor2
          height: 100%
          max-width: 100vw
          width: 400px
          position: absolute
          left: 0
          overflow: hidden
          opacity: 0
          transition: opacity ($transitionTime * .5) ease-in-out
          pointer-events: none

          .menu-content
            display: table
            position: absolute
            left: 0
            top: 0
            width: 100%
            padding: $spacing 2 * $spacing
            background-color: $backgroundColor1
            max-height: 'calc(100vh - %s - %s)' % ($headerHeight (2 * $spacing))
            overflow: auto

            .menu-link
              a
                color: $textColor2

          &.active
            opacity: 1
            transition: opacity ($transitionTime) ease-in-out
            pointer-events: auto

            &.from-left
              .menu-content
                animation: from-left ($transitionTime * .75) ease-in-out

            &.from-right
              .menu-content
                animation: from-right ($transitionTime * .75) ease-in-out

  // END Complex Menus

  // START Mobile Menus

  .mobile-menus
    +above($phoneWidth + 1)
      display: none

    .show-mobile-icon
      position: absolute
      top: 0
      line-height: $headerHeight * .9
      font-size: 1.5rem
      right: $spacing
      margin-right: 1rem
      display: block
      cursor: default

    .close-mobile-icon
      font-size: 2rem
      position: absolute
      top: $spacing
      left: $spacing
      line-height: 2rem
      z-index: 1

    .mobile-menu-content
      position: absolute
      top: -10px
      left: -1 * $mobileMenuWidth
      display: block
      width: $mobileMenuWidth
      height: 100vh
      background: $menuBackgroundColor2
      transition: left ($transitionTime) ease-in-out
      box-shadow: 2px 4px 2px .5px $shadowColor2

      &:before
        content: ''
        display: block
        position: absolute
        top: -1 * $headerDockedMargin
        width: 100%
        height: $headerDockedMargin
        background: $menuBackgroundColor2
        box-shadow: 2px 4px 2px .5px $shadowColor2
        z-index: -1

      .mobile-menu-wrapper
        height: 100vh
        width: 100%
        overflow: auto
        padding: ($spacing * 3) 0

      .menu-collection
        .menu
          input[type=checkbox]
            display: none

          .menu-body
            max-height: 0
            transition: max-height ($transitionTime * 1.5) ease-in-out
            overflow: hidden
            background-color: $menuBackgroundColor1

            .menu-content
              padding: (.5 * $spacing) $spacing

          // expand menu on hover or if selected
          .menu-title:hover
          input:checked
            & ~ .menu-body
              max-height: 100vh

          // expand menu if it itself is hovered
          .menu-body:hover
            max-height: 100vh

        .menu-title
        & > a
          color: $textColor1
          text-decoration: none
          display: block
          width: 100%
          background-color: $menuBackgroundColor2
          text-align: center
          padding: ($spacing * .5)

  // END Mobile Menus

  // START Menu Link (Both Complex and Simple)
  .menu-link
    width: 100%
    display: table
    padding: $spacing 0

    &:hover
      .menu-link-icon
        filter: saturate(40%) brightness(105%)

      .menu-link-text
        filter: brightness(300%)

    a
      color: $textColor2
      display: table
      width: 100%
      font-size: 0

      & > *
        font-size: 1rem

    .menu-link-icon
    .menu-link-text
      display: inline-block

    .menu-link-icon
      margin-right: 2 * $spacing
      width: $headerHeight

    .menu-link-text:first-child
      width: 100%

    .menu-link-text:not(:first-child)
      width: 'calc(100% - %s - %s)' % ($headerHeight (2 * $spacing))

      & > *
        display: block

      // Automatically work for both description and no description
      // states
      .menu-link-name:not(:last-child)
        line-height: 2rem

      .menu-link-description
        line-height: 1.5rem
        font-size: .875rem
  // END Menu Link (Both Complex and Simple)

// END Header Navigation Menus

// START Header Button (Both Complex and Simple)
  .simple-menus
  .complex-menus
    button
    .button
      margin-top: 5px

// END Header Button (Both Complex and Simple)


// START Mobile Menus Checked

#show-mobile-menu
  display: none

#show-mobile-menu:checked ~ header
  .mobile-menus
    .mobile-menu-content
      left: 0

// END Mobile Menus Checked

// START Footer Menus

footer
  .footer-menu
    display: box
    display: flexbox
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start

    & > *
      margin: $spacing * 2
      margin-top: 0
      margin-right: auto

      a
        text-decoration: none
        color: $textColor2
        // fix weird opacity bug
        display: inline-block
        width: 100%

    +above($phoneWidth)
      & > *
        flex: 1
        color: $textColor2

    +below($phoneWidth)
      flex-wrap: wrap
      & > *
        flex: initial

// END Footer Menus
