.m-card
  mShadowed(1.5, $mDropShadowCardColor)
  background-color: $white

  padding: 0

  border-radius: $mBorderRadius
  overflow: hidden

  display: flex
  flex-direction: column

  & > *
    flex: 1

  .m-card-header
    display: flex
    flex-direction: row
    align-items: center
    background-color: $mPrimaryColor
    color: $white
    padding: $mSpacing * 1.5 $mSpacing $mSpacing

    & > *
      margin-right: $mSpacing

      &:last-child
        margin-right: 0

  .m-card-body
    margin: $mSpacing

  .m-card-footer
    display: flex
    flex-direction: row
    align-items: center
    padding: 0 $mSpacing $mSpacing * 1.5
    color: $mPrimaryColor

    & > *
      margin-right: $mSpacing

      &:last-child
        margin-right: 0
