// Material

// Divider

$mDividerColor = rgba(0,0,0,.12)

// Animations

$mTransitionTime = 400ms

// Accent Colors

$mPrimaryColor   = $teal500
$mSecondaryColor = $blue500

// Spacing

$mSpacing = 1rem

// Borders

$mBorderRadius = 2px

// Drop Shadow

$mDropShadowColor       = rgba(0,0,0,0.5)
$mDropShadowCardColor   = rgba(0,0,0,0.2)
$mDropShadowHoverColor  = rgba(0,0,0,0.4)

$mDropShadowH           = 1px
$mDropShadowV           = 2px
$mDropShadowBlur        = 1px
$mDropShadowSpread      = 0.5px

$mDropShadowHoverFactor = 2

$mDropShadowHoverH      = $mDropShadowH * $mDropShadowHoverFactor
$mDropShadowHoverV      = $mDropShadowV * $mDropShadowHoverFactor
$mDropShadowHoverBlur   = $mDropShadowBlur * $mDropShadowHoverFactor

// Button

$mButtonFontSize        = 1rem
$mButtonHeight          = 2.5rem
$mButtonPadding         = 0 1.5rem
$mButtonHoverBrightness = 115%
$mButtonHoverOffset     = -2px

$mButtonBGColor         = $mSecondaryColor
$mButtonTextColor       = $white

// Card

