@require 'mixins'

.m-table
  display: table
  width: 100%
  padding: 0
  background-color: $white
  border-radius: $mBorderRadius
  mShadowed(1.5, $mDropShadowCardColor)

// borders
.m-table-header
.m-table-row
  & > *
    border-bottom: 1px solid rgba(0,0,0,0.12)

  &:last-child
    & > *
      border-bottom: 0

.m-table-header
  display: table-header-group
  background-color: $mPrimaryColor
  color: $white

  & > *
    display: table-cell
    vertical-align: middle
    padding: ($mSpacing / 2)
    cursor: default
    border: 0
    margin: 0
    padding: $mSpacing * 1.5 0 $mSpacing

    &:first-child
      padding-left: $mSpacing !important

    &:last-child
      padding-right: $mSpacing !important

.m-table-row
  display: table-row
  transition: all $mTransitionTime ease-in-out

  & > *
    display: table-cell
    vertical-align: middle
    position: relative
    padding: $mSpacing 0

    &:first-child
      padding-left: $mSpacing !important

    &:last-child
      padding-right: $mSpacing !important

// .m-table-row
//   cursor: pointer

.m-table-cell
  padding: $mSpacing * 2

.m-no-padding
  padding: $mSpacing * 2 0 !important
  p
    padding: 0 $mSpacing * 5
